<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Temperature</th>
        <th>Pressure</th>
        <th>Humidity</th>
    </tr>
    <tr>
        <td th:text="${weather.environment.temperature}"></td>
        <td th:text="${weather.environment.pressure}"></td>
        <td th:text="${weather.environment.humidity}"></td>
    </tr>
</table>

</body>
</html>